<div class="mailbox-content table-responsive col-12">
                    <div class="clearfix">
                    </div>
                     <table class="table inventory_related" id="usersTab">
                        <thead>
                            <th>Sender</th>
                            <th>Content</th>
                            <th>Time</th>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %>
                                <tr class="table-row">
                                    <td class="table-img">
                                       <img src="User.png" alt="" />
                                    </td>
                                    <td class="table-text">
                                        <h6><%= user.name %></h6>
                                        <p><%= user.email %></p>
                                    </td>
                                    <% if user.isFriend %>
                                        <td>
                                            <%= link_to 'Unfriend', friend_path(user.id), class: "btn btn-danger userUnfriend", data: { confirm: 'Are you sure you want to unfriend this person?', method: 'delete', id: user.id }, remote: true %>
                                        </td>
                                    <% else %>
                                        <td>
                                            <%= link_to 'Add friend', friend_index_path(user.id, friend_id: user.id), class: "btn btn-info userAddFriend", data: {method: 'post', id: user.id }, remote: true %>
                                        </td>
                                    <% end %>

                                </tr>
                            <% end %>  
                         </tbody>
                     </table>
                </div>